name: Build Docs

on:
  workflow_call:
    inputs:
      DEPLOY:
        description: 'Flag to deploy the docs'
        required: false
        type: boolean
        default: false
      VERSION:
        description: 'Version to tag the release with'
        required: false
        type: string
        default: "0"
    secrets:
      CI_GITHUB_TOKEN:
        required: true

    outputs:
      artifact:
        value: ${{ jobs.build-docs.outputs.artifact }}
      product:
        value: ${{ jobs.build-docs.outputs.product }}

jobs:
  build-docs:
    runs-on: ubuntu-latest
    container: zepben/pipeline-docusaurus
    outputs:
      artifact: ${{ steps.upload.outputs.artifact-id }}
      product: ${{ steps.validate.outputs.product }}
    env:
      GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
      DOCS_TITLE: ${{ vars.DOCS_TITLE }}
      PRODUCT: ${{ vars.PRODUCT }}
    steps:

      - uses: actions/checkout@v4
        with:
          token: ${{ env.GITHUB_TOKEN }}

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - name: Check that DOCS_TITLE and PRODUCT are properly defined in the repo
        id: validate
        run: |
          if [[ -d docs/site-config && -z $DOCS_TITLE ]]; then
            echo "The \$DOCS_TITLE environment variable needs to be set on this repo!"
            exit 1
          fi
          if [[ ! -z $PRODUCT && $PRODUCT != "evolve" && $PRODUCT != "ednar" ]]; then
            echo "The only supported values for \$PRODUCT environment variable are 'evolve' and 'ednar'! It's currently set to '$PRODUCT'"
            exit 1
          fi

          # Detect the actual product value
          product=${PRODUCT:-"evolve"}
          echo "product=$product" >> "${GITHUB_OUTPUT}"
        shell: bash

      - name: Checkout release branch if release-deploying
        if: ${{ vars.VERSION != '0' }}
        run: |
          git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
          git fetch --all
          git checkout release
        shell: sh

      - name: Build docusaurus
        id: build
        uses: zepben/docusaurus-action@main
        with:
          VERSION: ${{ inputs.VERSION }}
          NPM_REPO: ${{ secrets.NPM_REPO }}
          NPM_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
          DOCS_TITLE: ${{ env.DOCS_TITLE }}
          PRODUCT: ${{ env.PRODUCT }}
        continue-on-error: true

      - name: Failed build
        if: steps.build.outcome == 'failure'
        run: |
          echo "There was an error in the docusaurus build above. Docs are not pushed"
          echo " :boom: There was an error in the docusaurus build step. Current docs are not published" >> ${GITHUB_STEP_SUMMARY}
        shell: sh

      - name: Check if we need to skip deployment for hotfix or LTS branch
        if: ${{ inputs.DEPLOY }}
        run: |
          if [[ ${GITHUB_REF_NAME} =~ "hotfix" || ${GITHUB_REF_NAME} =~ "LTS" ]]; then
            echo "deployDocs=no" >> ${GITHUB_ENV}
            echo "Running on LTS or hotfix branch, skip deploying docs"
          else
            echo "deployDocs=yes" >> ${GITHUB_ENV}
          fi

      - name: Zip documentation
        if: ${{ env.deployDocs == 'yes' }}
        run: |
          cd docs/build
          zip -r ../../docs.zip .
        shell: bash

      - uses: actions/upload-artifact@v4
        if: ${{ steps.build.outcome == 'success' && env.deployDocs == 'yes' }}
        id: upload
        with:
          name: docs.zip
          path: docs.zip
