name: Maven App Snapshot

on:
  workflow_call:
    inputs:
      private:
        description: 'Calling workflow from a private repo'
        required: false
        type: boolean
        default: true
      sourcepath:
        description: 'Path to source directory (used for licence check)'
        required: false
        type: string
        default: "src"
      product-key:
        description: 'Product key used for deploying docs. Should be repo specific. E.g: "python-sdk"'
        required: false
        default: "productkeynotprovided"
        type: string
      product-repo:
        description: 'Product repository used for downloading snapshot docs'
        required: false
        default: "productreponotprovided"
        type: string
    secrets:
      CI_GITHUB_TOKEN:
        required: true
      NEXUS_MAVEN_REPO:
        required: false
      NEXUS_USERNAME:
        required: false
      NEXUS_PASSWORD:
        required: false
      NEXUS_SIGNATURE:
        required: true
      NEXUS_MAVEN_SNAPSHOT:
        required: false
      NEXUS_MAVEN_RELEASE:
        required: false
      GPG_KEY_ID:
        required: false
      GPG_KEY_PASSWORD:
        required: false
      SLACK_NOTIFICATION:
        required: false
      SLACK_WEBHOOK:
        required: false
      LC_URL:
        required: false

    outputs:
      version:
        description: "The current released version."
        value: ${{ jobs.build-app.outputs.version }}
jobs:
  build-app:
    runs-on: ubuntu-latest
    container: zepben/pipeline-java-ewb
    outputs:
      docs-present: ${{ steps.docs.outputs.present }}
      version: ${{ steps.build.outputs.version }}
    env:
      GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
      GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
      GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
      NEXUS_MAVEN_REPO: ${{ secrets.NEXUS_MAVEN_REPO }}
      NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
      NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      NEXUS_SIGNATURE: ${{ secrets.NEXUS_SIGNATURE }}
    steps:
      - uses: actions/checkout@v4

      - name: Cache maven deps
        uses: actions/cache@v4
        with:
          path: /maven
          key: maven

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - name: Cache licence-check
        uses: actions/cache@v4
        with:
          path: /lc
          key: lcc

      - name: Check licence
        uses: zepben/licence-check-action@main
        with:
          LC_URL: ${{ secrets.LC_URL }}
          PATH: ${{ inputs.sourcepath }}

      - name: Maven package
        id: build
        run: |
          artifactId=$(xmlstarlet pyx pom.xml | grep -v ^A | xmlstarlet p2x | xmlstarlet sel -t -v "/project/artifactId")
          version=$(xmlstarlet pyx pom.xml | grep -v ^A | xmlstarlet p2x | xmlstarlet sel -t -v "/project/version")
          artifact="${artifactId}-${version}"
          mvn clean package -B -f pom.xml -P release -Dgpg.key.id=$GPG_KEY_ID -Dgpg.key.password=$GPG_KEY_PASSWORD -Dserver.username=$NEXUS_USERNAME -Dserver.password=$NEXUS_PASSWORD -Dserver.repo.url=$NEXUS_MAVEN_REPO -Dnexus.signature=$NEXUS_SIGNATURE
          mkdir .artifact-$artifact
          cp target/* -t .artifact-$artifact || :
          rm .artifact-$artifact/original*.jar || :
          echo "version=$(echo $version)" >> ${GITHUB_OUTPUT}
          echo "artifact=$(echo $artifact)" >> ${GITHUB_OUTPUT}
          echo "artifactId=$(echo $artifactId)" >> ${GITHUB_OUTPUT}
          echo "artifact-path=$(echo .artifact-$artifact/)" >> ${GITHUB_OUTPUT}

          #  - name: Upload coverage to Codecov
          #    if: steps.build.outcome == 'success'
          #    uses: codecov/codecov-action@v4
          #    with:
          #      token: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.artifact }}
          path: ${{ steps.build.outputs.artifact-path }}
          include-hidden-files: true
          if-no-files-found: error

      - name: Check if docs present
        id: docs
        run: |
          if [ -d docs ]; then
            echo "Docs folder found, will run the build-docs job"
            echo "present=yes" >> "${GITHUB_OUTPUT}"
            echo "present=yes" >> "${GITHUB_ENV}"
          else
            echo "Docs folder not found, will skip the build-docs"
          fi

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - name: Check doc build artifacts are ignored
        if: ${{ env.present == 'yes' }}
        shell: sh {0}
        run: |
          # Make sure directories are properly ignored
          # docs/node_modules
          git check-ignore -q docs/node_modules
          if [ $? != 0 ]; then
              echo "ERROR! Make sure to add 'docs/node_modules' to .gitignore"
              echo "::error line=1::ERROR! Make sure to add 'docs/node_modules' to .gitignore"
              exit 1
          fi

          # docs/build
          git check-ignore -q docs/build
          if [ $? != 0 ]; then
              echo "ERROR! Make sure to add 'docs/build' to .gitignore"
              echo "::error line=1::ERROR! Make sure to add 'docs/build' to .gitignore"
              exit 1
          fi

  build-docs:
    needs: [build-app]
    if: ${{ needs.build-app.outputs.docs-present == 'yes' }}
    uses: ./.github/workflows/build-docs.yml
    with:
      DEPLOY: true
    secrets: inherit

  update-snapshot-version:
    needs: [build-app]
    container: zepben/pipeline-basic
    runs-on: ubuntu-latest
    env:
      DEBUG: ${{ secrets.DEBUG }}
      GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
      NEXUS_MAVEN_REPO: ${{ secrets.NEXUS_MAVEN_REPO }}
      NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
      NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      NEXUS_MAVEN_SNAPSHOT: ${{ secrets.NEXUS_MAVEN_SNAPSHOT }}
      NEXUS_MAVEN_RELEASE: ${{ secrets.NEXUS_MAVEN_RELEASE }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ env.GITHUB_TOKEN }}

      - name: Work around git permission issue
        run: |
          dname=$(echo ${{github.repository}} | cut -d'/' -f2)
          git config --global --add safe.directory /__w/$dname/$dname
        shell: sh

      - name: Update snapshot version
        run: |
          /scripts/update-version.sh --java --snapshot --maven pom.xml

  deploy-docs:
    needs: [build-docs]
    if: ${{ needs.build-docs.outputs.artifact != '' }}
    uses: ./.github/workflows/deploy-docs.yml
    with:
      PRODUCT: ${{ needs.build-docs.outputs.product }}
      ARTIFACT: ${{ needs.build-docs.outputs.artifact }}
    secrets: inherit
